openapi: 3.2.0
info:
  title: Fintary Open API documentation Commission Reports API
  version: '1.0'
servers:
- url: https://api.fintary.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Commission Reports
paths:
  /openapi/comp-reports/data:
    get:
      operationId: compReports.getData
      summary: Get commission report data
      description: 'Returns paginated commission report data rows for a published commission report, identified by its report string id. Rows are processed through the commission-report post-processor (role-based commission-field filtering, owner-zero-row drops, canonical totals), so the payload matches what a user sees in the report view. Note: this is a behavioral change from the previous raw-snapshot response — fields the caller''s role cannot see are now redacted.

        '
      tags:
      - Commission Reports
      parameters:
      - name: report_str_id
        in: query
        required: true
        description: The report string ID
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum number of rows to return (1-10000, default 50)
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 10000
      - name: page
        in: query
        required: false
        description: Page number for pagination (0-based, default 0)
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Report data retrieved successfully
        '400':
          description: Missing or invalid report_str_id
        '404':
          description: Report not found
        '500':
          description: Internal server error
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: string
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication
